
.post-container {
    /* border: 1px solid #ccc; */
    /* padding: 10px;
    margin-bottom: 10px; */
    margin: 20px;
  }
  
  .post-title {
    /* font-size: 18px;
    margin-bottom: 5px; */
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  .post-title th,
.post-title td 
{
    padding: 10px;
  text-align: left;
  /* border-bottom: 1px solid #ccc; */
  border: 1px solid #ccc;
}
  
.post-title th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .post-body {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .action-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .action-button.edit {
    background-color: #28a745;
    margin-right: 10px;
  }
  
  .action-button.delete {
    background-color: #dc3545;
  }
  

  /* Model Css */
  
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: burlywood;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.modal h2 {
  margin-top: 0;
}

.modal input,
.modal textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.modal button + button {
  margin-left: 10px;
}
